body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,
        #000000 0%,    /* Negro */
        #000000 25%,    /* Negro */
        #003322 40%,   /* Verde oscuro intermedio */
        #003323 50%,   /* Verde bandera */
        #003322 60%,   /* Verde oscuro intermedio */
        #000000 75%,    /* Negro */
        #000000 100%   /* Negro */
    );
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: 'Mooli', sans-serif;
}
header{
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.share-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}
.share-button svg{
    margin-left: 12px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}
.container{
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 20px;
    margin: 10px 0px 5px 0px;
}
h2{
    font-size: 16px;
    margin: 0px 0px 5px 0px;
}
h3{
    font-size: 14px;
    margin: 0px 0px 10px 0px;
}
a{
    text-decoration: none;
    color: rgb(240, 240, 240);
}
.tile{
    width: 100%;
    margin: 5px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.tile:hover{
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}
.tile-share-button{
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 1.5rem;
    background-color: rgb(52, 52, 52);
}
.tile-share-button svg{
    margin-left: 12px;
    margin-top: 10px;
}
#website {
    background-color: #212121;
}
#facebook {
    background-color: #3b5998;
}
#vk {
    background-color: #4c75a3;
}
#instagram {
    background-color: #e1306c;
}
#tiktok {
    background-color: #000000;
}
#x {
    background-color: #141414;
}
.image-container{
    height: 250px;
    width: 250px;
    border-radius: 250px;
    overflow: hidden;
}
.image-container img{
    height: 100%;
}
.icon{
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}